name: Docker Image Release CI

on:
  push:
    branches:
      - main
    tags:
      - v*
      - latest
#  release:
#    types: [ published ]

jobs:

  build-docker-image-tag:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Check Version Setting
        run: |
          python --version
          pip --version
          python version.py

      - name: Set Build Info
        run: |
          pip install pytz
          python Build/set_build_info.py -d

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Set up Aliyun Region
        env:
          ACR_REGION: cn-shanghai
        run: |
          echo "ACR_REGION=$ACR_REGION" >> $GITHUB_ENV
          echo "ACR_REGISTRY=registry.${ACR_REGION}.aliyuncs.com" >> $GITHUB_ENV

      - name: Confirm Aliyun ACR
        run: |
          echo "Aliyun ACR REGION=$ACR_REGION"
          echo "Aliyun ACR REGISTRY=$ACR_REGISTRY"

      - name: Login to Aliyun Container Registry (ACR)
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set up Image Tags
        env:
          GITHUB_SHA: ${{ github.sha }}
          IMAGE_TAG: latest
        run: |
          echo "GITHUB_SHA=$GITHUB_SHA" >> $GITHUB_ENV
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "Tag string: ${{github.ref}}"

      - name: Check and set image version
        id: prepare_tag
        run: |
          case ${{ github.ref }} in
            refs/heads/main)
              echo ::set-output name=version::edge
              echo ::set-output name=push::false
            ;;
            refs/tags/*)
              echo ::set-output name=version::$(echo ${{ github.ref }} | sed -E 's|refs/tags/||')
              echo ::set-output name=push::true
            ;;
            *)
              echo ::set-output name=version::${{ github.sha }}
              echo ::set-output name=push::false
            ;;
          esac;

      - name: Show version and push settings
        run: |
          echo "Setting-Version: ${{ steps.prepare_tag.outputs.version }}"
          echo "Setting-Push: ${{ steps.prepare_tag.outputs.push }}"

      - name: Build & Push image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Docker/Dockerfile
          platforms:
            linux/amd64,
            linux/arm64,
            linux/386,
            linux/arm/v7,
            linux/arm/v6,
            linux/ppc64le,
            linux/s390x
          push: ${{ steps.prepare_tag.outputs.push }}
          tags: |
            ${{ github.repository }}:${{ steps.prepare_tag.outputs.version }},
            ${{ env.ACR_REGISTRY }}/${{ github.repository }}:${{ steps.prepare_tag.outputs.version }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
